<section>
    <header class="fo2 w100">
        <img class="logo" src="/images/logo.svg" alt="">
        <ul class="headul fl6">
            <li>關於我</li>
            <li>商品分類</li>
            <li>聯絡我</li>
        </ul>
    </header>
</section>